body{
    overflow-x: hidden;
}
.page1{
    position: relative;
    transition: 0.5s;
}
.text{
    top: 50%;
    left: 45%;
    color: white;
    position: absolute;
}
#welcome{
    margin-left: -40px;
    font-family: 'Arvo', serif;
}
#to{
    padding-left: 30px;
    font-family: 'Arvo', serif;
}
#delani{
    margin-left: -80px;
    font-family: 'Arvo', serif;
}
#paragraph1{
    margin-left: -200px;
    font-family: 'Arvo', serif;
}
#background-image2{
    position: relative;
    z-index: -2;
    
}
#mouse-click{
    padding-left: 40px;
}
@keyframes slide{
    0% { transform: translateY(10%);}
    50%{ transform: translateY(0%);}
    100%{ transform: translateY(10%);}
     }
#mouse-click:hover{
    animation-name: slide;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
.page2{
    position: relative;
    transition: 0.5s;
}
.about-us{
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-us > h1,.text2 > h1,.portfolio > h1{
    text-align: center;

}
.about-us >p{
    padding-left: 200px;
}
#agile{
    text-align: center;
    padding-right: 200px;
}
.approach{
    padding-left: 300px;
    
}
.text2{
    margin-top: -280px;
    color: white;
}
.text2 > p{
    margin-left:280px
}
.services > img{
    z-index:-2;
}
.whatWeDo{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 80px;
}
.work{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
       
}
.design-showing,.development-showing,.product-showing{
    display: none;
    width: 20%;
    font-size: 78%;
}

.projects{
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}
form{
    margin-top: -480px;
    margin-left: 150px;
}
input{
    padding: 10px;
    width: 300px;
    background: transparent;
}
::placeholder{
    color: white;
    
}
#message{
    height: 300px;
    width: 600px;
    margin-top: 10px;
    
}
#submit{

    color: white;
    border: 2px solid white;

}
.media{
    margin-top: 140px;
}
.icons{
    margin-left:450px;
}
.copyright{
    text-align: center;
    padding-left: 400px
    
}
#work1{
    opacity:1;
    transition: .5s ease;
}
.project-one{
    margin-top: -180px;
    margin-left: 150px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
}
.project1:hover #work1{
    opacity: 0.3;
}
.project1:hover .project-one{
    opacity: 1;
}
.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#work1{
    width: 100%;
}
.project1{
    width: 23%;
    margin-top: 10px;
    margin-bottom: 20px;
}
