body{
    overflow-x: hidden;
}
.page1{
    position: relative;
    transition: 0.5s;
}
.text{
    top:50%;
    left: 50%;
    color: white;
    position: absolute;
}
#welcome{
    margin-left: -40px;
    font-family: 'Arvo', serif;
}
#to{
    padding-left: 10px;
    font-family: 'Arvo', serif;
}
#delani{
    margin-left: -60px;
    font-family: 'Arvo', serif;
}
#paragraph1{
    margin-left: -160px;
    font-family: 'Arvo', serif;
}
#background-image2{
    position: relative;
    z-index: -2;
    
}
#mouse-click{
    padding-left: 25px;
}
@keyframes slide{
    0% { transform: translateY(10%);}
    50%{ transform: translateY(0%);}
    100%{ transform: translateY(10%);}
     }
#mouse-click:hover{
    animation-name: slide;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
.page2{
    position: relative;
    transition: 0.5s;
}
.about-us > h1,.text2 > h1,.portfolio > h1{
    text-align: center;

}
.about-us >p{
    padding-left: 200px;
}
#agile{
    text-align: center;
    padding-right: 200px;
}
.approach{
    padding-left: 300px;
    
}
.text2{
    margin-top: -280px;
    color: white;
}
.text2 > p{
    margin-left:280px
}
.services > img{
    z-index:-2;
}
.whatWeDo{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 80px;
}
.work{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 78%;
    position: fixed;

}
.design-showing,.development-showing,.product-showing{
    display: none;
    width: 20%;
}